<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>::: Tjat :::</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<form action="/tjat" method="get">
			<fieldset>
				<p>Namn: <input name="name" type="text" th:value="${name}" /></p>
				<p>Meddelande: <input name="message" type="text" /></p>
				
		    	<input type="submit" hidden="true" />
	    	</fieldset>
		</form>
	
		<table>
		    <tr th:each="message : ${messages}">
		        <th th:text="${message.name}">1</th>
		        <td th:text="${message.message}">2</td>
    		</tr>
		</table>
    
	</body>
</html>
